/**
* @name LeagueOfLegendsYuumiTheme
* @author Saphido#9563
* @version 1.0
* @description A theme for League Of Legends based on Yuumi
* @source https://github.com/Saphido/BetterDiscordThemes
* @updateUrl https://raw.githubusercontent.com/puckzxz/NotAnotherAnimeTheme/master/NotAnotherAnimeTheme.theme.css
*/

@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css);

/*
  To make editing this theme easier I recommend using Notepad++
  you can download it for free here https://notepad-plus-plus.org/download/
*/

/* Any images you use MUST end with .jpg or .png or any other image extension */

:root {
  /*
    Theme Background
  */
  --theme-background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2c78eba5-f1d7-4106-8126-5b8a01ccbbd6/ddwqvz1-1543cc44-ded4-4264-82ea-19e57c263528.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJjNzhlYmE1LWYxZDctNDEwNi04MTI2LTViOGEwMWNjYmJkNlwvZGR3cXZ6MS0xNTQzY2M0NC1kZWQ0LTQyNjQtODJlYS0xOWU1N2MyNjM1MjgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.lXyfSlkdh0pl45CdKI6Za23vHgLRzsY2bmCh10XGi9Y);

  /*
    Main Theme Color
  */
  --main-theme-color: rgb(67, 181, 129);

  /*
    Main Theme Transparency
  */
  --theme-transparency: rgba(71, 2, 62, 0.5);

  /*
    Home Icon Image
  */
  --home-icon-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEqzyu7nmQPthPMBn-A8KhjpzuwEpKYbQY7j0vQmwaA0xz3GVaxuBKgvI4GcRN6its-gk&usqp=CAU);

  /*


  /*
    Change your friends icon image zoom
  */
  --home-icon-image-zoom: 100%;

  /*
    Server Listing Width
    Single Column:  72px
    Double Column:  126px
    Triple Column:  184px
    Quad Column:    242px
  */
  --server-listing-width: 125px;

  /*
    Font Size
  */
  --font-size: 100%;

  /*
    Mention colors
  */
  --mention-color: rgba(250, 166, 26, 0.05);
  --mention-sider: rgba(250, 166, 26, 1);
  --mention-hover-color: rgba(250, 166, 26, 0.08);

  /*
    Server category hover color
  */
  --category-hover-color: rgb(60, 202, 138);

  /*
    Change the unread server animation.
    Replace it with "none" in order to remove any animations and use the main color instead
  */
  --unread-server-animation: rainbow;

  /*
    Video / Screen share buttons
  */
  --video-screen-button-background-color: rgba(200, 200, 200, 0.2);
  --video-screen-button-foreground-color: white;
  --video-screen-button-background-hovor-color: rgba(200, 200, 200, 0.4);
  --video-screen-button-foreground-hovor-color: white;

  /*
    Role Title Color
  */
  --member-listing-role-color: var(--main-theme-color);

  /*
    Small User Popout
  */
  --small-user-popout-background-image: var(--theme-background-image);
  --small-user-popout-background-transparency: rgba(121, 4, 105, 0.2);
  --small-user-popout-background-image-position: center;

  /*
    Big User Popout
  */
  --big-user-popout-background-image: var(--theme-background-image);
  --big-user-popout-background-transparency: rgba(121, 4, 105, 0.2);
  --big-user-popout-background-image-position: center;

  /*
    Code Markup
  */
  --code-markup-background-color: rgba(121, 4, 105, 0.2);
  --code-markup-border: 1px solid transparent;

  /*
    Message Box Transparency
  */
  --message-box-transparency: rgba(121, 4, 105, 0.2);

  /*
    Embed Background Transparency
  */
  --embed-background-transparency: rgba(121, 4, 105, 0.2);

  /*
    Message Hover Buttons
  */
  --message-hover-buttons-background: rgba(200, 200, 200, 0.1);

  /*
    Context Menu Transparency
  */
  --context-menu-transparency: rgba(15, 15, 15, 0.8);

  /*
    Add Server / Discovery Icon
  */
  --add-discover-icon-transparency: rgba(200, 200, 200, 0.15);
  --add-discover-icon-color: #43b581;

  /*
    Channel Limit Number Color
  */
  --channel-limit-count-color: var(--channels-default);
  --channel-limit-background-left: rgba(200, 200, 200, 0.1);
  --channel-limit-background-right: rgba(200, 200, 200, 0.2);

  /*
    Scrollbar Colors
  */
  --scrollbar-color: rgba(200, 200, 200, 0.2);

  /*
    Unread Message Divider
  */
  --unread-message-divider-color: #f04747;
  --unread-message-divider-font-color: #fff;

  /*
    New Messages Bar Color
  */
  --new-messages-bar-background-color: #7289da;
  --new-messages-bar-font-color: #fff;

  /*
    Emoji Menu
  */
  --emoji-menu-background-color: rgba(121, 4, 105, 0.2);
  --emoji-menu-sider-background-color: rgba(121, 4, 105, 0);
  --emoji-menu-server-header-background-color: rgba(121, 4, 105, 0.8);
  --emoji-menu-bottom-bar-background-color: rgba(121, 4, 105, 1.0);
  --emoji-menu-search-bar-background-color: rgba(200, 200, 200, 0.1);

  /*
    Message Search
  */
  --message-search-menu-background-color: rgba(121, 4, 105, 0.2);
  --message-search-container-background-color: (121, 4, 105, 0.2);;
  --message-search-result-background-color: rgba(200, 200, 200, 0.05);

  /*
    Channel colors
  */
  --text-voice-channel-color: rgb(142, 146, 151);
  --text-voice-channel-hover-color: #dcddde;
  --text-voice-channel-selected-text-color: #fff;
  --unread-text-channel-color: #fff;
  --unread-text-channel-bubble-color: var(--main-theme-color);

  /*
    Folders
  */
  --folder-background-color: #2f3136;
  --expanded-folder-background-color: transparent;

  /*
    Reactions
  */
  --reaction-emoji-background-color: rgba(121, 4, 105, 0.2);
  --reaction-emoji-border-color: 1px solid transparent;
  --reaction-emoji-hover-background-color: rgba(255, 255, 255, 0.1);
  --reaction-emoji-hover-border-color: rgba(255, 255, 255, 0.2);
}
